<h1>Listing tires</h1>

<%= form_tag({action: :index},{method: :get}) do |f| %>
show sidewall greater than  <%= text_field_tag :gt_sidewall_inches%> inches
<%end%>

<table>
  <thead>
    <tr>
      <th>Spec</th>
      <th>Width MM (Inches)</th>
      <th>Height MM (Inches)</th>
      <th>Sidewall MM (Inches)</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tires.each do |tire| %>
      <tr>
        <td><pre><%= tire.spec %></pre></td>
        <td><pre><%= (sprintf("%3.2f",tire.width_mm))%>mm (<%= (sprintf("%2.2f",tire.width_mm/25.4)) %>")</pre></td>
        <td><pre><%= (sprintf("%3.2f",tire.height_mm))%>mm (<%= (sprintf("%2.2f",tire.height_mm/25.4)) %>")   </pre></td>
        <td><pre><%= (sprintf("%3.2f",tire.sidewall_mm))%>mm (<%= (sprintf("%2.2f",tire.sidewall_mm/25.4))%>")</pre></td>
        <td><%= link_to 'Show', tire %></td>
        <td><%= link_to 'Edit', edit_tire_path(tire) %></td>
        <td><%= link_to 'Destroy', tire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tire', new_tire_path %>
